[Unit]
Description=ZTP Bootstrap DHCP Server (Kea)
After=ztpbootstrap-pod.service ztpbootstrap-postgresql.service
Requires=ztpbootstrap-pod.service
Wants=ztpbootstrap-postgresql.service

[Container]
Image=ztpbootstrap-kea:3.0
ContainerName=ztpbootstrap-dhcp
Pod=ztpbootstrap.pod
Exec=/bin/sh /app/start-kea.sh
Volume=/opt/containerdata/ztpbootstrap/dhcp:/etc/kea:rw
Volume=/opt/containerdata/ztpbootstrap/dhcp/leases:/var/lib/kea:rw
Volume=/opt/containerdata/ztpbootstrap/dhcp/logs:/var/log/kea:rw
Volume=/opt/containerdata/ztpbootstrap/webui:/app:ro
Environment=TZ=UTC
AddCapability=CAP_NET_RAW
AddCapability=CAP_NET_BIND_SERVICE

[Service]
Restart=no

[Install]
WantedBy=ztpbootstrap-pod.service
